* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

.top {
  height: 50%;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1.site{
  margin-left: 1%;
  
}

.bottom {
  height: 50%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  padding: 10vh;
  color: white;
}

.box{
  width: 1fr 1fr 1fr;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2{
  text-decoration: overline coral 10px;
  display: flex;
  justify-content: center;
}